<div class="tools">
    TOOLS
    <div class="individualTools">
        Research
        <div class="toolName">
            <div class="toolsContainer">
               <img class="toolsImage"class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">Loop 11</h6>
            </div>
            <div class="toolsContainer">
               <img class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">Survey Monkey</h6>
            </div>
            <div class="toolsContainer">
               <img class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">OptimalSort</h6>
            </div>
            <div class="toolsContainer">
               <img class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">Zoom</h6>
            </div>
        </div>
    </div>
    <div class="individualTools">
        Design
        <div class="toolName">
            <div class="toolsContainer">
               <img class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">UXPin</h6>
            </div>
            <div class="toolsContainer">
               <img class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">Marvel</h6>
            </div>
            <div class="toolsContainer">
               <img class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">Adobe Indesign</h6>
            </div>
            <div class="toolsContainer">
               <img class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">Adobe Illustrator</h6>
            </div>
            <div class="toolsContainer">
               <img class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">Sketch</h6>
            </div>
            <div class="toolsContainer">
               <img class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">Balsamiq</h6>
            </div>
            <div class="toolsContainer">
               <img class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">CSS Peeper</h6>
            </div>
            <div class="toolsContainer">
               <img class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">Apple Pencil</h6>
            </div>
            <div class="toolsContainer">
               <img class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">Invision</h6>
            </div>
            <div class="toolsContainer">
               <img class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">Sketchbook</h6>
            </div>
            <div class="toolsContainer">
               <img class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">Paper</h6>
            </div>
            <div class="toolsContainer">
               <img class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">Tilt Brush (VR)</h6>
            </div>
            <div class="toolsContainer">
               <img class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">Axure</h6>
            </div>
            <div class="toolsContainer">
               <img class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">Figma</h6>
            </div>
        </div>
    </div>
    <div class="individualTools">
        Collaboration
        <div class="toolName">
            <div class="toolsContainer">
               <img class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">Miro</h6>
            </div>
            <div class="toolsContainer">
               <img class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">Teams</h6>
            </div>
            <div class="toolsContainer">
               <img class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">Trello</h6>
            </div>
            <div class="toolsContainer">
               <img class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">Zoom</h6>
            </div>
            <div class="toolsContainer">
               <img class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">Slack</h6>
            </div>
            <div class="toolsContainer">
               <img class="toolsImage"src="../../../favicon.ico">
               <h6 class="toolDescription">Meeting Owl</h6>
            </div>
        </div>
    </div>
</div>