<div class="methodologies">
    UX+Agile Methodologies
        <div>
            <div class="methodologiesImageContainer">
                <img class="methodologiesImage" src="../../../favicon.ico">
            </div>
            <a class="methodologiesDescription" href="https://uxdesign.cc/dual-track-agile-is-a-game-changer-for-designers-e19705fec3c1">
                <article  class="methodologiesDescription">I  created this infographic to explain our methodologies to internal CBD's and our respective clients, before research collection. </article>
            </a>
        </div>
</div>
