<div class="homeDetailComponent">
    <div>
        <h1>UX Researcher, Designer, and Agile Transformation Agent</h1>
        <p>I love work environments where moving away from my desk and listening to users is encouraged. I am energized when challenging problems are thrown my way. 
            My brain is constantly switching between business, design, and web development skills to help me effectively communicate across multiple departments. 
            I possess the unique ability of being able to see the BIG picture while still managing the details. My goal is to deliver beautiful, data driven content and happy clients. 
            Let's connect!
        </p>
        <button class="viewPortfolio" href="#portfolioJump">View Portfolio</button>
     </div>
     <div>
         <img class="homeDetailImage" src="../../../favicon.ico">
     </div>
</div>