<div class="portfolio" id="viewPortfolio">
    portfolio
    <div class="portfolioContainer">
        <div class="individualPortfolio">
           <h1 class="portfolioName">Reimagining A Platform</h1>
           <h2 class="portfolioDescription">Research, Design, Strategy</h2>
           <button class="viewIndividualPortfolio" routerLink="/reimagine">Check It Out!</button>
        </div>
        <div>
            <img class="portfolioImage" src="../../../favicon.ico">
        </div>
    </div>
    <div class="portfolioContainer">
        <div class="individualPortfolio">
           <h1 class="portfolioName">Document Upload</h1>
           <h2 class="portfolioDescription">Research, Design</h2>
           <button class="viewIndividualPortfolio" routerLink="/upload">I'm Intrigued!</button>
        </div>
        <div>
            <img class="portfolioImage" src="../../../favicon.ico">
        </div>
    </div>
    <div class="portfolioContainer">
        <div class="individualPortfolio">
           <h1 class="portfolioName">Tactical Platform Changes</h1>
           <h2 class="portfolioDescription">Research, Design</h2>
           <button class="viewIndividualPortfolio" routerLink="/tactical">Tell Me More!</button>
        </div>
        <div>
            <img class="portfolioImage" src="../../../favicon.ico">
        </div>
    </div>
    <div class="portfolioContainer">
        <div class="individualPortfolio">
           <h1 class="portfolioName">Design Sprint</h1>
           <h2 class="portfolioDescription">Research</h2>
           <button class="viewIndividualPortfolio" routerLink="/sprint">I Want To See!</button>
        </div>
        <div>
            <img class="portfolioImage" src="../../../favicon.ico">
        </div>
    </div>
</div>
