<div class="skills">
    SKILLS
    <div class="skillsContainer">
        <div class="individualSkill">
           <h1 class="skillNumber">1</h1>
           <h2 class="skillName">User Research</h2>
           <article  class="skillDescription">My eyes and ears are one of my greatest tools to collect empathy from users. 
                I spend the greatest amount of time in this phase to really get to the core why. </article>
        </div>
        <div class="individualSkill">
           <h1 class="skillNumber">2</h1>
           <h2 class="skillName">Synthesis</h2>
           <article  class="skillDescription">Creating value by turning qualitative and quantitative data into actionable insights that influence project roadmap prioritization. </article>
        </div>
        <div class="individualSkill">
           <h1 class="skillNumber">3</h1>
           <h2 class="skillName">Visual Design</h2>
           <article  class="skillDescription">Facilitates exploratory activities with teams. 
                Creates sketches, wireframes and high fidelity prototypes to validate ideas with users. </article>
        </div>
        <div class="individualSkill">
           <h1 class="skillNumber">4</h1>
           <h2 class="skillName">Remote Collaboration</h2>
           <article  class="skillDescription">Interacts with hybrid teams daily. 
                Expert at remotely facilitating  feature prioritization, exploratory, and contextual observation sessions.</article>
        </div>
    </div>
</div>