<nav class="navbar">
    <div>
        <h1 class="headerName">
            ASHA CAMPBELL, UX Designer
        </h1>
    </div>
    <div class="headerLinks">
        <ul>
            <a routerLink="/">HOME</a>
        </ul>
        <ul>
            <a href="https://www.linkedin.com/in/asha-campbell/" target="_blank">ABOUT ASHA</a>
        </ul>
        <ul>
            <a href="#portfolioJump">PORTFOLIO</a>
        </ul>
        <ul>
            <a routerLink="/contactAsha">CONTACT ME</a>
        </ul>
    </div>
</nav>