<nav class="navbar">
    <div class="footerTop">
        <h1 class="footerContact">
            Contact Me
        </h1>
        <h1 class="footerBTT">
            Back To Top
        </h1>
    </div>
    <div class="footerBottom">
        <ul class="footerSpacing">
            Atlanta, GA 30306 - USA
        </ul>
        <ul class="footerSpacing">|</ul>
        <ul class="footerSpacing">
            404-558-9476
        </ul>
        <ul class="footerSpacing">|</ul>
        <ul class="footerSpacing">
            asha.i.campbell@gmail.com
        </ul>
    </div>
</nav>
