<div class="reimaginePortfolio">
    <div class="reimagineImagesContainer">
            INITIAL RESEARCH
            <img class=reimaginePortfolioImage src="../../../../favicon.ico">
            <img class=reimaginePortfolioImage src="../../../../favicon.ico">
            <img class=reimaginePortfolioImage src="../../../../favicon.ico">
            <img class=reimaginePortfolioImage src="../../../../favicon.ico">
            <img class=reimaginePortfolioImage src="../../../../favicon.ico">
            <img class=reimaginePortfolioImage src="../../../../favicon.ico">
            <img class=reimaginePortfolioImage src="../../../../favicon.ico">
            <img class=reimaginePortfolioImage src="../../../../favicon.ico">
            <img class=reimaginePortfolioImage src="../../../../favicon.ico">
            <img class=reimaginePortfolioImage src="../../../../favicon.ico">
            <img class=reimaginePortfolioImage src="../../../../favicon.ico">
            <img class=reimaginePortfolioImage src="../../../../favicon.ico">
            <img class=reimaginePortfolioImage src="../../../../favicon.ico">
            <img class=reimaginePortfolioImage src="../../../../favicon.ico">
            <img class=reimaginePortfolioImage src="../../../../favicon.ico">
            <img class=reimaginePortfolioImage src="../../../../favicon.ico">
            <img class=reimaginePortfolioImage src="../../../../favicon.ico">
            <img class=reimaginePortfolioImage src="../../../../favicon.ico">
            <img class=reimaginePortfolioImage src="../../../../favicon.ico">
    </div>
    <div class="initialResearchSticky">
        <p class="initialResearchOverview">
             Overview: Lead designer reimaging one of our flagship products. 
             I am integrated within the development team and practice agile 
             rituals such as daily stand-ups, retros, and groomin sessions. 
             I also work as a design consultation for the team's tactical design 
             efforts, as well as strategize for the global requirements.
        </p>
        <p>
            Timeframe: 1 year - Present
        </p>
        <p>
            Worked with: Product Manager, Product Owner, Front and Backend 
            Development, QA team, Legal, Sales, Customer Care, Marketing
        </p>
        <div>
            Tools:
            <div class="reimagineToolsContainer">
                <img class=reimagineToolsImage src="../../../../favicon.ico">
                <img class=reimagineToolsImage src="../../../../favicon.ico">
                <img class=reimagineToolsImage src="../../../../favicon.ico">
                <img class=reimagineToolsImage src="../../../../favicon.ico">
                <img class=reimagineToolsImage src="../../../../favicon.ico">
                <img class=reimagineToolsImage src="../../../../favicon.ico">
                <img class=reimagineToolsImage src="../../../../favicon.ico">
                <img class=reimagineToolsImage src="../../../../favicon.ico">
                <img class=reimagineToolsImage src="../../../../favicon.ico">
                <img class=reimagineToolsImage src="../../../../favicon.ico">
                <img class=reimagineToolsImage src="../../../../favicon.ico">
                <img class=reimagineToolsImage src="../../../../favicon.ico">
            </div>
        </div>
        <p>
            Project Outcomes: Reimagined designs secured over $30 million dollars
            in new business in 2019
        </p>
    </div>
</div>