<header class="header">
    <div class="infoLinks">
        <ul class="infoSpacing">
            <img class="infoImage" src="../../../favicon.ico">
            <h6>Atlanta, GA 30306 - USA</h6>
        </ul>
        <ul class="nbsp"><h6>&nbsp;</h6></ul>
        <ul class="infoSpacing">
            <img class="infoImage" src="../../../favicon.ico">
            <h6>404-558-9476</h6>
        </ul>
        <ul class="nbsp"><h6>&nbsp;</h6></ul>
        <ul class="infoSpacing">
            <img class="infoImage" src="../../../favicon.ico">
            <h6>asha.i.campbell@gmail.com</h6>
        </ul>
    </div>
    <div>
        <a href="https://www.linkedin.com/in/asha-campbell/" target="_blank">
            <img class="infoImage" src="../../../favicon.ico">
        </a>
    </div>
</header>
