<header class="navbar">
    <div class="infoLinks">
        <ul class="infoSpacing">
            <img src="../../../favicon.ico">
            Atlanta, GA 30306 - USA
        </ul>
        <ul class="infoSpacing">
            <img src="../../../favicon.ico">
            404-558-9476
        </ul>
        <ul class="infoSpacing">
            <img src="../../../favicon.ico">
            asha.i.campbell@gmail.com
        </ul>
    </div>
    <div>
        <a href="https://www.linkedin.com/in/asha-campbell/" target="_blank">
            <img src="../../../favicon.ico">
        </a>
    </div>
</header>
